#CollectionPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

#CollectionPage h2 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 10px;
}

#CollectionPage ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#CollectionPage li {
  margin: 15px;
}