#Sidebar {
  z-index: 1;
  position: fixed;
  background-color: #202020;
  top: 0;
  left: 0;
  color: white;
  height: 100vh;
  font-size: 30px;
  padding-top: 40px;
  width: 200px;
  opacity: 0;
}

.shownSidebar {
  animation: forwards;
  animation-name: 'slideInSidebar';
  animation-duration: .3s;
  animation-play-state: inherit;
}

.hiddenSidebar {
  animation: forwards;
  animation-name: 'slideOutSidebar';
  animation-duration: .3s;
  animation-play-state: inherit;
}

@keyframes slideInSidebar {
  from {
    width: 0px;
    opacity: 0;
  }
  to {
    width: 200px;
    opacity: 1.0;
  }
}

@keyframes slideOutSidebar {
  from {
    width: 200px;
    opacity: 1.0;
  }
  to {
    width: 0px;
    opacity: 0;
  }
}

#Sidebar a {
  color: white;
}

#Sidebar a:hover, #Sidebar li:hover {
  color: #d4d622;
}

#Sidebar .break {
  margin-top: 20px;
}