#Sidebar {
  z-index: 4;
  position: fixed;
  background-color: #202020;
  top: 0;
  left: 0;
  color: white;
  height: 100vh;
  font-size: 30px;
  margin-top: 30px;
  padding-top: 15px;
  width: 200px;
  left: -200px;
}

#Sidebar li:hover {
  cursor: pointer;
}

.shownSidebar {
  animation: forwards;
  -webkit-animation: forwards;
  animation-name: 'slideInSidebar';
  -webkit-animation-name: 'slideInSidebar';
  animation-duration: .3s;
  -webkit-animation-duration: .3s;
  /* animation-play-state: inherit; */
}

.hiddenSidebar {
  animation: forwards;
  -webkit-animation: forwards;
  animation-name: 'slideOutSidebar';
  -webkit-animation-name: 'slideOutSidebar';
  animation-duration: .3s;
  -webkit-animation-duration: .3s;
  /* animation-play-state: inherit; */
}

@keyframes slideInSidebar {
  from {
    left: -200px
  }
  to {
    left: 0px;
  }
}

@-webkit-keyframes slideInSidebar {
  from {
    left: -200px
  }
  to {
    left: 0px;
  }
}

@keyframes slideOutSidebar {
  from {
    left: 0px
  }
  to {
    left: -200px;
  }
}

@-webkit-keyframes slideOutSidebar {
  from {
    left: 0px
  }
  to {
    left: -200px;
  }
}

#Sidebar a {
  color: white;
}

#Sidebar a:hover, #Sidebar li:hover {
  color: #d4d622;
}

#Sidebar .break {
  margin-top: 20px;
}