#Footer {
  background-color: black;
  color: white;
  text-align: center;
  padding-bottom: 10px;
}

#Footer a {
  color: white;
}

#Footer a:hover {
  color: #d4d622;
}

#Footer h3 {
  font-size: 25px;
}

#Footer h3:first-of-type {
  padding-top: 10px;
}

#Footer h3:not(first-of-type) {
  margin-top: 20px;
}

#Footer li {
  font-size: 18px;
  font-weight: 200;
}

@media screen and (min-width: 768px) {
  #Footer {
    display: flex;
    justify-content: space-evenly;
  }

  #Footer .tablet-flex {
    display: flex;
    flex-direction: column;
  }
}