body {
  background-color: white;
  font-family: 'Oswald', sans-serif;
}

button {
  background: none;
  border: none;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.flex { 
  display: flex;
}

a {
  color: black;
  text-decoration: none;
}

.mobile-hidden {
  display: none;
}

button.shop {
  border: 2px solid black;
  background-color: white;
  color: black;
}

button.shopInverted {
  border: 2px solid white;
  background-color: black;
  color: white;
}

button.shop:hover, button.shopInverted:hover {
  cursor: pointer;
}

.break {
  margin-top: 15px;
}

.divider {
  width: 100%;
  height: 15px;
  background-color: black
}

main {
  padding-top: 205px;
}

iframe { 
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .tablet-hidden {
    display: none;
  }

  main {
    padding-top: 180px;
  }
}